<!-- blog-post.handlebars -->
<div class="container">
  <h1>{{post.title}}</h1>
  <p>{{post.content}}</p>

  <form id="new-comment-form">
    <textarea name="comment" placeholder="Add a comment"></textarea>
    <button type="submit">Submit Comment</button>
  </form>

  <!-- Loop through the post's comments -->
  {{#each comments}}
    <div class="comment">
      <p>{{this.content}}</p>
      <button class="edit-comment-button" data-id="{{this.id}}">Edit</button>
      <button
        class="delete-comment-button"
        data-id="{{this.id}}"
      >Delete</button>
    </div>
  {{/each}}
</div>