<div class="container">
  <h1>Your Posts</h1>

  <form id="new-post-form">
    <input type="text" name="title" placeholder="Title" />
    <textarea name="content" placeholder="Content"></textarea>
    <button type="submit">Add Post</button>
  </form>

  {{#each posts}}
    <div class="post">
      <h2><a href="/posts/{{this.id}}">{{this.title}}</a></h2>
      <p>{{this.content}}</p>
      <small>Comments: {{this.comments.length}}</small>
      {{!-- <h3>Comments</h3>
      {{#each this.comments}}
        <div class="comment">
          <p>{{this.comment_text}} - Posted by {{this.user.username}}</p>
        </div>
      {{/each}} --}}
    </div>
  {{/each}}

</div>