<h1 class="fs-1 fw-bold text-success mb-5">Latest Posts</h1>

<section>
  {{#each posts}}
    <div class="accordion-item mb-4">
      <h2 class="accordion-header bg-light p-3">
        <button
          class="accordion-button {{#unless @first}}collapsed{{/unless}}"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapse{{@index}}"
          aria-expanded="{{#if @first}}true{{else}}false{{/if}}"
          aria-controls="panelsStayOpen-collapse{{@index}}"
          
        >
          <!-- Title and Comment Count -->
          <span class="d-flex align-items-center">
            <h3 class="me-4">{{this.title}}</h3>
            <small class="badge rounded-pill bg-danger">
              {{this.comments.length}}
            </small>
          </span>
        </button>
      </h2>
      <div id="panelsStayOpen-collapse{{@index}}" class="accordion-collapse collapse {{#if @first}}show{{/if}}">
        <div class="accordion-body bg-success-subtle p-3">
          <h5 class="card-title fs-6 mb-2">posted by: {{this.user.username}}</h5>
          <a href="/posts/{{this.id}}" class="no-underline text-dark">{{this.content}}</a>
        </div>
      </div>
    </div>
  {{/each}}
</section>
