<h1>Latest Posts</h1>

<section>
  {{#each posts}}
    <article>
      <h2><a href="/posts/{{this.id}}">{{this.title}}</a></h2>
      <p>{{this.content}}</p>
      <small>Posted by: {{this.user.username}}</small>
      <small>Comments: {{this.comments.length}}</small>
    </article>
  {{/each}}
</section>