<div class="container my-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <!-- Displaying Single Post -->
      <div class="card mb-4">
        <div class="card-header" style="position: relative;">
          <h3 class="card-title text-success">{{post.title}}</h3>
          <small>Author: {{post.user.username}}</small>
        </div>
        <div class="card-body">
          <p class="card-text">{{post.content}}</p>
          <button type="submit" class="btn btn-success mt-3 edit-button">Edit Post</button>
        </div>
      </div>

      {{> editPost}}

      <!-- Comment Section -->

      {{#each post.comments}}
        <div class="card mb-2 bg-success-subtle">
          <div class="card-body">
            <h5 class="card-title fs-6">{{this.user.username}} comments:</h5>
            <p class="card-text fs-6">{{this.comment_text}}</p>
          </div>
        </div>
      {{/each}}

      <!-- Comment Submission Form -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fs-6">Submit a Comment</h5>
          <form id="add-comment-form" data-post-id="{{post.id}}">
            <div class="form-group">
              <textarea class="form-control fs-6" id="comment_text" rows="3" placeholder="Type your comment"></textarea>
            </div>
            <button type="submit" class="btn btn-success mt-3">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
